ABARROTESS/xml-resources/web-service-references/WSBD/wsdl/localhost_8080/WebAppTIENDA/WSBD.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://pckgWEB/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pckgWEB/">

<xs:element name="Altas" type="tns:Altas"/>

<xs:element name="AltasResponse" type="tns:AltasResponse"/>

<xs:element name="consultar" type="tns:consultar"/>

<xs:element name="consultarResponse" type="tns:consultarResponse"/>

<xs:element name="editar" type="tns:editar"/>

<xs:element name="editarResponse" type="tns:editarResponse"/>

<xs:element name="eliminar" type="tns:eliminar"/>

<xs:element name="eliminarResponse" type="tns:eliminarResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="Altas">
<xs:sequence>
<xs:element name="tabla" type="xs:string" minOccurs="0"/>
<xs:element name="datos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AltasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultar">
<xs:sequence>
<xs:element name="tablas" type="xs:string" minOccurs="0"/>
<xs:element name="datos" type="xs:string" minOccurs="0"/>
<xs:element name="condicion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editar">
<xs:sequence>
<xs:element name="tablas" type="xs:string" minOccurs="0"/>
<xs:element name="datos" type="xs:string" minOccurs="0"/>
<xs:element name="condicion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminar">
<xs:sequence>
<xs:element name="tablas" type="xs:string" minOccurs="0"/>
<xs:element name="datos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>