ABARROTESS/xml-resources/web-service-references/WSBD/wsdl/localhost_8080/WebAppTIENDA/WSBD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pckgWEB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pckgWEB/" name="WSBD">
<types>
<xsd:schema>
<xsd:import namespace="http://pckgWEB/" schemaLocation="http://localhost:8080/WebAppTIENDA/WSBD?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="consultar">
<part name="parameters" element="tns:consultar"/>
</message>
<message name="consultarResponse">
<part name="parameters" element="tns:consultarResponse"/>
</message>
<message name="editar">
<part name="parameters" element="tns:editar"/>
</message>
<message name="editarResponse">
<part name="parameters" element="tns:editarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="Altas">
<part name="parameters" element="tns:Altas"/>
</message>
<message name="AltasResponse">
<part name="parameters" element="tns:AltasResponse"/>
</message>
<portType name="WSBD">
<operation name="hello">
<input wsam:Action="http://pckgWEB/WSBD/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pckgWEB/WSBD/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="consultar">
<input wsam:Action="http://pckgWEB/WSBD/consultarRequest" message="tns:consultar"/>
<output wsam:Action="http://pckgWEB/WSBD/consultarResponse" message="tns:consultarResponse"/>
</operation>
<operation name="editar">
<input wsam:Action="http://pckgWEB/WSBD/editarRequest" message="tns:editar"/>
<output wsam:Action="http://pckgWEB/WSBD/editarResponse" message="tns:editarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://pckgWEB/WSBD/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://pckgWEB/WSBD/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="Altas">
<input wsam:Action="http://pckgWEB/WSBD/AltasRequest" message="tns:Altas"/>
<output wsam:Action="http://pckgWEB/WSBD/AltasResponse" message="tns:AltasResponse"/>
</operation>
</portType>
<binding name="WSBDPortBinding" type="tns:WSBD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Altas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBD">
<port name="WSBDPort" binding="tns:WSBDPortBinding">
<soap:address location="http://localhost:8080/WebAppTIENDA/WSBD"/>
</port>
</service>
</definitions>